#step-3{
 
    width: 80%;
    margin-bottom: 100px;
    margin: 0 auto;

}
.drop-down-box select{
    
    border: none;
    width: 300px;
    outline: none;
    background-color: inherit;
    border-bottom: 2px solid #333;
}


.caret{
    background-color: red;
}